
.op{
    border: solid red 2px;
}
/*-----------header-------------*/

.dd-header-logo{
 margin: 10px 0 20px 0;
}
.dd-header-logo img {
    width: 120px;
}
.dd-logo-title span{
    font-weight: bold;
    font-size: 20px;
}
.dd-img-header{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.dd-email-title, 
.dd-addres-title, 
.dd-clock-title{
    margin-bottom: 10px;
}
.dd-social a img{
    width: 50px;
    height: 50px;
    margin: 15px;
}
.dd-social a:hover{
   transform: scale(1.2);
   transition: all 0.5s ease 0s;
}
.dd-feedback-header{
    margin: 10px;
}
.dd-phone-header img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.dd-phone-header a{
    font-weight: bold;
    margin: 10px;
    font-size: 25px;    
}
.dd-button-feedback{
    background-color: rgb(240, 142, 14);
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px 5px rgb(255, 176, 73) ;
}
.dd-button-feedback:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 15px 5px rgb(255, 156, 27) ;
    transition: all 0.5s ease 0s;
}
.dd-services1{    
    background-image: url('assets/carousel/44.jpeg');
}
.dd-services2{    
    background-image: url('assets/carousel/55.jpeg');
}
.dd-services3{    
    background-image: url('assets/carousel/33.jpeg');
}
.dd-services4{    
    background-image: url('assets/carousel/22.jpeg');
}
.dd-services5{
    background-image: url('assets/carousel/11.jpg');
}
.dd-services-item{    
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
    margin: 10px;
    text-align: center;
    border: solid 3px rgb(240, 142, 14);
    border-radius: 5px;
        width: 200px;
        height: 200px;
}
.dd-services a{
    text-decoration: none;
}
.dd-services-item span{
    background-color: rgba(0, 0, 0, 0.400);
    color: white;
    box-shadow: 0 0 10px black;
    padding: 0 5px 5px 5px;
}
.form__inpute{
    width: 300px;
    margin-bottom: 10px;
}
.youtoobe iframe{
    width: 100% ;
    height: 400px;
}
.accordion-body img{
    width: 100%;
}
.work-order{
    border: dashed 2px rgb(240, 142, 14);
    padding: 15px 0;
}
.work-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.work-img{
    width: 70px;
    margin: 5px;
}
.work-arrow{
    width: 40px;
    margin-bottom: 10px;
}
.about-us-img figure img{
    width: 100%;
}
.dd-footer-logo{
    margin: 10px 0 20px 0;
   }
.dd-footer-logo img {
       width: 120px;
   }
.dd-logo-footer span{
       font-weight: bold;
       font-size: 20px;
   }
.dd-link-footer{
    font-size: 20px;
}
.autor{
    margin: 2px;
}
.autor span{
     font-size: 13px;
}
.card-footer iframe{
    width: 100%;
    margin: 15px 0;
}
.dd-link{
    color: rgb(240, 142, 14);
    text-decoration: none;
}
.dd-link:hover{
    color: rgb(255, 102, 0);
}
.carousel-caption{
    background-color: rgba(0, 0, 0, 0.473);
    box-shadow: 0 0 10px black;
    border-radius: 5px;
}
/*--------------feedback form-------------*/
.form__item label{
    display: none;
}
._error{
    background-color: rgba(255, 0, 0, 0.4);
 }
 .form{
   background-color: rgb(85, 85, 85);
   border-radius: 10px;
   padding: 20px 0;
 }
 .form__title{
   color: rgb(240, 142, 14) ;
   font-weight: bold;
 }
 .form__inpute{
   border: none;
   border-radius: 5px;
   padding: 5px;
 }
 .form__button{
   background-color: rgb(240, 142, 14);
   border: none;
   padding: 10px 30px;
   border-radius: 10px;
   margin: 10px;
 }
 .form__item-checkbox{
   margin: 0 15px;
 }
 .checkbox__label{
   color: rgb(146, 146, 146);
   font-size: 0.9rem;
   margin-left: 5px;
 }
 .form__body{
     position: relative;
 }
 .form__body::after{
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #2b2a2973 url('assets/duck.gif') center / 150px no-repeat;
     opacity: 0;
     visibility: hidden;
     transition: all 0,5s ease 0s;
 }
 .form__body._sending::after{
     opacity: 1;
     visibility: visible;
 }
 /*----------------------*/
 .advantages ul{
      list-style:none;
 }
 .advantages ul li{
    margin-bottom: 5px;
 }
 .advantages ul li img {
    margin-right: 10px;
   width: 25px;
   height: 20px;
 }
 .don-dragon{
    background-color: rgb(44, 44, 44);
    color: rgb(189, 189, 189);
    text-align: end;
    font-size: 10px;
    padding-right: 10px;
 }
footer{
    border-top: 3px solid rgb(240, 142, 14);
    background-color: rgb(224, 224, 224);
 }
 .don-dragon a{
    color: rgb(255, 255, 255);
    text-decoration: none;
 }
 .youtoobe{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
        -33px 0 30px -33px rgba(0, 0, 0, .8),
        33px 0 30px -33px rgba(0, 0, 0, .8),
        0 0 40px rgba(0, 0, 0, 1) inset;
 }
 .dd-social{
    display: none;
 }
 .dd-services-modals{
    width: 300px;
    height: 500px;
    z-index: 6;
    position: fixed;
    left:50%;
    top:50%;
    margin-left: -150px;
    margin-top: -250px;
 }
 
.dd-services-modals img{
    width: 300px;
   }
.dd-services-item-modal-open{
    transition: all 0.5s;   
}
.dd-services-item-modal-close{
    transform: scale(0);
    transition: all 0.5s;
}
.dd-overlay-modals{
    background-color: rgba(102, 102, 102, 0.5);
    z-index: 5;    
   visibility: visible;
   position:fixed;
   top:0px;
   left:0px;
   width:100vw;
   height:100vh;
}
.dd-overlay-modals-close{
    visibility: hidden;    
    transform: scale(0);
    transition: all 1s;
}
.dd-overlay-modals-open{
   transform: scale(1) rotate(360deg);
   transition: all 1s;
}
.dd-services-modals{
    width: 300px;
    height: 500px;
    z-index: 6;
    position: fixed;
    left:50%;
    top:50%;
    margin-left: -150px;
    margin-top: -250px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border: 5px solid  rgb(240, 142, 14) ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
 } 
.dd-services-modals img{
    width: 90%;
   }

 @media (min-width: 768px){
    .work-img{
        width: 50px;
    }
    .work-arrow-md{
        width: 40px;
        height: auto;
        margin: 0 auto;
    }
    .wrapper-arrow-md-1{
        transform: rotate(270deg);
    }
    .wrapper-arrow-md-3{
        transform: rotate(90deg);
    }
    .autor{
        font-size: 13px;
    }
    .autor span{
        font-size: 10px;
    } 
    .dd-services-modals{
        width: 500px;
        height: 600px;
        z-index: 6;
        position: fixed;
        left:50%;
        top:50%;
        margin-left: -250px;
        margin-top: -300px;
     }    
 }
 @media (min-width: 992px){
    .dd-header-logo img {
        width: 250px;
    }
    .dd-logo-title{
        font-size: 20px;
    }
    .dd-logo-title span {
        font-size: 30px;
    }
    .dd-social a img{
        width: 70px;
        height: 70px;
    }
    .dd-feedback-header{
        font-size: 20px;
    }
    .dd-feedback-header a{
        font-size: 30px;
    }
    #carouselExampleCaptions ,  #carouselExampleInterval{
        box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
        -33px 0 30px -33px rgba(0, 0, 0, .8),
        33px 0 30px -33px rgba(0, 0, 0, .8),
        0 0 40px rgba(0, 0, 0, 1) inset;
    }
    .dd-services-item{
        width: 300px;
    }
    .dd-services-item span{
        font-size: 20px;
    }
    .card-footer iframe{
        height: 200px;
    }
    .dd-social{
        display: block;
    }
    .dd-services-modals{
        width: 800px;
        height: 900px;
        z-index: 6;
        position: fixed;
        left:50%;
        top:50%;
        margin-left: -400px;
        margin-top: -450px;
     }
 }
 @media (min-width: 1200px){
    .accordion-collapse img{
        width: 50%;
        float: left;
        margin: 15px;
    }
    .accordion-collapse p{
        margin-top: 25px;
        font-size: 20px;
    }
 }
 @media (min-width: 1400px){
    .dd-logo-title{
        font-size: 25px;
    }.dd-logo-title span {
        font-size: 35px;
    }
    .dd-wrapper-title{
        font-size: 20px;
    }
    .dd-feedback-header{
        font-size: 30px;
    }
    .dd-feedback-header a{
        font-size: 40px;
    }
    .dd-services-item{
        width: 500px;
        height: 400px;
    }    
    .dd-services-item span{
        font-size: 30px;
    }
    .advantages ul{
        font-size: 25px;
    }
    .advantages ul li img {
        margin-right: 20px;
       width: 35px;
       height: 30px;
     }
    .form{
        padding: 40px 0;
      }
      .form__title{
        font-size: 45px;
      }
      .form__item{
        width: 80%;
        margin-bottom: 15px;
      }
      .form__item input{
        width: 100%;
        height: 50px;
      }
      .form__item input::placeholder,
      .form__item textarea::placeholder{
        font-size: 25px;
      }
      .form__item textarea{
        width: 100%;
        height: 150px;
      }
      .form__button{
        font-size: 25px;
        padding: 10px 30px;
        border-radius: 10px;
        margin: 20px;
      }
      .checkbox__label{
        font-size: 25px;
      }
    h3{
        font-size: 35px;
    }
    .work-img{
        width: 110px;
    }
    .work-arrow-md{
        width: 40px;
        height: auto;
        margin: 0 auto;
    }
    .wrapper-arrow-md-1{
        transform: rotate(270deg);
    }
    .wrapper-arrow-md-3{
        transform: rotate(90deg);
    }
    .wrapper-arrow-md-2{
        transform: rotate(270deg);
    }
    .wrapper-arrow-md-3{
        transform: rotate(270deg);
    }
    .work-order{
        border: dashed 4px rgb(240, 142, 14);
    }
    .youtoobe iframe{
        height: 500px;
    }
    .about-us-text{
        font-size: 20px;
    }
    .card-footer iframe{
        height: 400px;
    }
    .footer-info{
        font-size: 20px;
    }
    .footer-info span{
        font-size: 30px;
    }
    .footer-info img{
        width: 250px;
    }
    .feedback-footer a{
        font-size: 30px;
    }
    .autor{
        font-size: 20px;
    }
    .autor span{
        font-size: 18px;
    }
    .don-dragon{
        font-size: 16px;
    }
    .dd-button-feedback{
        font-size: 25px;
    }
    .dd-services-modals{
        width: 1000px;
        height: 900px;
        z-index: 6;
        position: fixed;
        left:50%;
        top:50%;
        margin-left: -500px;
        margin-top: -450px;
     }
 }